<b>Results for {{cityVariable}}, {{stateVariable}}</b>
<p></p>
<table>
<tr>
    <th>ZipCode</th><th>Population</th>
    {{#each data}} 
        <tr>
            {{!creathing link to take from zip to population by state page}}
            <td><a href="/pop/{{state}}">{{this.zip}}</a></td>
            <td align="right">{{this.pop}}</td>  
        </tr>
    {{/each}}
</tr>
</table>
